<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <title>Memory game</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <link rel="stylesheet" href="style.css"/>
    <script src="controller.js"></script>
</head>
<body>

<div ng-app="gameApp" ng-controller="gameController">
    <div align="center">
        <button class="btn btn-primary" ng-click="startGame()">Start</button>
        <button class="btn btn-primary disabled">Clicks : {{clicks}}</button>
    </div>

    <div id="deck" style="float:right;width:200px;">
        <div ng-repeat="cell in deck" class="in shadowed">
            <img src="{{cell.img}}" alt="{{cell.img}}" style="height: 150px; width:150px"/>
        </div>
    </div>

    <div id="board" style="float:left;width:800px;">
        <div ng-repeat="col in board" style="width:800px" class="container">
            <div class="card shadowed" ng-hide="isInDeck(cell.img)"
                 ng-class="{'flipped': first == cell || second == cell}" style="top:{{cell.top}}px;left:{{cell.left}}px"
                 ng-repeat="cell in col" style="display:inline;" ng-click="onCellClick(cell)">
                <div class="front in">
                    <img alt="{{cell.img}}" src="{{cell.img}}" style="height: 150px; width:150px"/>
                </div>
                <div class="back in">
                </div>
            </div>
        </div>
    </div>

    <div id="resultBoard">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="result in results">
                <td>{{result.player}}</td>
                <td>{{result.score}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>